# define shared variables here, since kafl is the top-level role
workspace_default: "{{ playbook_dir | dirname if ansible_connection == 'local' else ansible_env.HOME + '/workspace' }}"
workspace_root: "{{ install.workspace_root | default(workspace_default) }}"
kafl_install_root: "{{ workspace_root }}/kafl"

install_nyx_packer: false

libxdc_root: "{{ kafl_install_root }}/libxdc"
capstone_root: "{{ kafl_install_root }}/capstone"

fuzzer_url: "https://github.com/IntelLabs/kafl.fuzzer"
fuzzer_root: "{{ kafl_install_root }}/fuzzer"
fuzzer_revision: "v0.6.2"
fuzzer_venv_root: "{{ kafl_install_root }}/.venv"
