- name: Ensure kAFL parent directory exists
  ansible.builtin.file:
    path: "{{ kafl_install_root | dirname }}"
    state: directory
    mode: 0775
  when: not ansible_check_mode

- name: Install kAFL system dependencies
  ansible.builtin.package:
    name: "{{ item }}"
  become: true
  with_items:
    - python3-dev
    - python3-venv
    - python3-setuptools

- name: Clone repo
  ansible.builtin.git:
    repo: "{{ fuzzer_url }}"
    dest: "{{ fuzzer_root }}"
    version: "{{ fuzzer_revision | default('master') }}"
    depth: "{{ git_clone_depth | default(omit) }}"
    force: "{{ force_clone }}"
  tags:
    - clone

- name: Install kAFL fuzzer
  ansible.builtin.pip:
    name: "file://{{ fuzzer_root }}"
    editable: true
    virtualenv: "{{ fuzzer_venv_root }}"
    virtualenv_command: "python3 -m venv"
  changed_when: true
  when: not ansible_check_mode
  tags:
    - build

- name: Import post_tasks
  import_tasks: post_tasks.yml
