- hosts: all
  environment:
    http_proxy: "{{ proxy_env.http_proxy | default(lookup('env', 'http_proxy')) }}"
    https_proxy: "{{ proxy_env.https_proxy | default(lookup('env', 'https_proxy')) }}"
  vars:
    workspace_root: "{{ playbook_dir | dirname if ansible_connection == 'local' else ansible_env.HOME + '/kafl'}}"

  pre_tasks:
    - name: apt update to ensure root access is available (or fail early)
      apt:
        update_cache: yes
      become: yes

  roles:
    - role: intellabs.kafl.fuzzer
      tags:
        - fuzzer

  post_tasks:
  - name: Create env.sh file
    template:
      src: env.j2
      dest: "{{ workspace_root }}/env.sh"
