- name: Install dependencies
  package:
    name:
      - linux-base
      - kmod
  become: yes

- name: Create temporary directory for downloaded packages
  tempfile:
    state: directory
  register: down_dir

- name: Download deb packages
  get_url:
    url: "{{ item }}"
    dest: "{{ down_dir.path }}/{{ index }}.deb"
  loop: "{{ kernel_deb_urls }}"
  loop_control:
    index_var: index

- name: Install kAFL kernel
  shell: dpkg -i "{{ down_dir.path }}"/*.deb
  become: yes

- name: Remove temporary download directory
  file:
    path: "{{ down_dir.path }}"
    state: absent

- name: Configure boot entry to select new kernel
  block:
  - name: Determine Grub menuentry
    shell: |
      awk -F\' '/menuentry.*{{ kernel_grep_string }}/ {print $4}' /boot/grub/grub.cfg |head -1
    register: grub_menuentry_id

  - name: Update /etc/default/grub
    lineinfile:
      regexp: ^GRUB_DEFAULT=
      line: GRUB_DEFAULT="{{ grub_menuentry_id.stdout }}"
      dest: /etc/default/grub
      backup: yes
    become: yes

  - name: Update GRUB
    command: update-grub
    become: yes
  tags:
    - update_grub

- name: Reboot on new kernel
  reboot:
  become: yes
  when: ansible_connection != 'local'
  tags:
    - reboot_kernel
