- name: Install required dependencies
  ansible.builtin.package:
    name:
      - build-essential
  become: true

- name: Create temporary directory
  ansible.builtin.tempfile:
    state: directory
  register: temp_compile

- name: Upload support_test.c
  ansible.builtin.copy:
    src: files/support_test.c
    dest: "{{ temp_compile.path }}/support_test.c"
    mode: 0644

- name: Compile support_test.c
  ansible.builtin.command: |
    gcc "{{ temp_compile.path }}/support_test.c" -o "{{ temp_compile.path }}/support_test"
  register: compile_result
  changed_when: false

- name: Run support_test
  ansible.builtin.command: |
    "{{ temp_compile.path }}/support_test"
  ignore_errors: true
  register: support_test
  changed_when: false
  tags:
    - hardware_check

- name: Remove temp directory
  ansible.builtin.file:
    path: "{{ temp_compile.path }}"
    state: absent

# check if hardware_check in skip-tags -> to force CI run
- name: Install kernel if needed
  ansible.builtin.import_tasks: install_kernel.yml
  when: "'update_grub' in ansible_run_tags or 'hardware_check' in ansible_skip_tags or support_test.rc != 0"
