- name: Install build dependencies
  ansible.builtin.apt:
    name: "{{ item }}"
  become: true
  with_items:
    - git
    - pkg-config
    - build-essential
    - libglib2.0-dev
    - libpixman-1-dev
    - libgtk-3-dev

- name: Install build dependencies for virtfs
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  become: true
  with_items:
    - libcap-dev
    - libattr1-dev

- name: Clone repo
  ansible.builtin.git:
    repo: "{{ qemu_url }}"
    dest: "{{ qemu_root }}"
    version: "{{ qemu_revision | default(omit) }}"
    depth: "{{ git_clone_depth | default(omit) }}"
    force: "{{ force_clone }}"
    recursive: false
  tags:
    - clone

- name: Build QEMU
  ansible.builtin.command: ./compile_qemu_nyx.sh lto
  args:
    chdir: "{{ qemu_root }}"
  environment:
    CAPSTONE_ROOT: "{{ capstone_root }}"
    LIBXDC_ROOT: "{{ libxdc_root }}"
  when: true
  tags:
    - build
